@import "tailwindcss";


@theme {
  --color-primary: #FF0000;
  --color-secondary: white;
  --color-secondary-foreground: black;
  --color-background: black;
  --color-foreground: white;
  --color-muted: #222222;
  --color-muted-foreground: #666666;
  --radius: 0.5rem;
}